footer.main-footer
  .main-footer__column.main-footer__column--left
    p.text
      | Shave on you ©
      br
      | 2018
  .main-footer__column.main-footer__column--center
    p.text
      | Visit us or do whatever you want. 
      br
      | We don't care.
  .main-footer__column.main-footer__column--right
    a(href='mailto:info@shaveonyou.com') info@shaveonyou.com
