header.main-header
  nav.navigation
    a.logo(href='/') Barbershop
    ul.navigation__list
      li.navigation__item
        a(href='#team') Our team
      li.navigation__item
        a(href='#pricelist') Pricelist
    .hamburger
      span.hamburger__item
      span.hamburger__item
      span.hamburger__item
