section#pricelist.pricelist
  h2.subtitle Pricelist
  p.text There should be some text about our services, but our copywriter was fired. 
  table
    tbody
      tr
        th Service
        th Price
        th Time
      tr
        td Shaving
        td 19.9$
        td 30 min
      tr
        td Haircut
        td 34.9$
        td 1 hour
      tr
        td Beard dying
        td 14.9$
        td 15 min
