section#team.team
  h2.subtitle Our team
  p.text You can totally confide in our barbers.
  ul.team__list
    li.team__item
      img(src='img/man.svg', alt='Babrer John')
      .team__barber John
    li.team__item
      img(src='img/bald.svg', alt='Barber Bob')
      .team__barber Bob
    li.team__item
      img(src='img/withglasses.svg', alt='Barber Mark')
      .team__barber Mark
    li.team__item
      img(src='img/hipster.svg', alt='Barber Harry')
      .team__barber Harry
