- var title = 'Shave on you'
include ../includes/head
body
  include ../includes/navigation
  include ../includes/intro
  include ../includes/team
  include ../includes/pricelist
  include ../includes/footer
